{% extends 'languages/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <link rel="stylesheet" href="{% static 'css/categories.css' %}">
</head>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'js/modal_for_delete_categories_blocks.js '%}"></script>

<h1 style="text-align: center;">
    <div id="caption" style="font-size: 38px; font-family: 'Source Code Pro', monospace; text-shadow: 10px 10px 10px black;">
        Choose category and start learning programming!
    </div>
    {% include 'languages/categories__buttons__settings.html '%}
</h1>

{% include 'languages/categories__content__container__blocks.html' %}
{% endblock content %}

