<div class="button-container">
        <div class="button">
            <a href="{% url 'languages:new_category' %}">New category</a>
        </div>
        <div class="button">
            <a href="{% url 'languages:delete_all_categories' %}">Delete all category</a>
        </div>
    </div>




также чтобы это удалить нужно из бд нужно написать view и передать туда данные которые удаляем чтобы удалить их



<div class="bulletsBlock">
    <div class="bullet-item">
        <span class="iconBullet fa fa-cog"></span>
        <p class="titleBullet">Выгода 1</p>
        <p class="hideText">Дополнительный<br>скрытый текст 1</p>
    </div>
 
    <div class="bullet-item">
        <!-- Содержимое 2-го блока -->
    </div>
 
    <div class="bullet-item">
        <!-- Содержимое 3-го блока -->
    </div>
</div>